@use "sass:math";
@import "_reset.scss";
@import "_fonts.scss";
@import "_mixins.scss";

// нлаштування обмежуючого контейнеру
$containerPadding: 15;
$maxWidthContainer: 1200;
$containerWidth: $maxWidthContainer + 2 * $containerPadding;
$templateMaxWidth: 1440;

// налаштування тексту
// Шрифти
// $mainFontFamily:;
// $secondFontFamily:;

// кольори
$primaryColor: #4475f2;
$titleColor: #000;
$headingColor: #181e4b;
$textColor: #5e6282;
$linkColor: #9a9ea6;
$linkActiveColor: #4737ff;
// ============================================

body {
    font-family: "Plus Jakarta Sans", sans-serif;
    // background: #000000;
    font-weight: 500;
    color: #5e6282;
}

[class*="__container"] {
    max-width: toEm($containerWidth);
    padding-inline: toEm($containerPadding);
    margin: 0 auto;
}
.heading {
    // .heading__label

    &__label {
        color: $primaryColor;
        font-size: toRem(18);
        font-weight: 800;
        letter-spacing: toRem(2);
        text-transform: uppercase;
    }

    // .heading__title

    &__title {
        font-size: toRem(48);
        line-height: 1.3541; /* 65/48 */
        color: $titleColor;
        font-weight: 800;
        text-transform: capitalize;
    }
}
// ==============================================

.wrapper {
    overflow: clip;
    min-height: 100%;
    display: flex;
    flex-direction: column;

    & > main {
        flex: 1 1 auto;
    }
}

.header {
    // position: fixed;
    // z-index: 999;
    // top: 0;
    // left: 0;
    // width: 100%;
    @include adaptiveValue(min-height, 105, 30, 0, $maxWidthContainer, 320);
    padding-top: toRem(15);
    padding-bottom: toRem(15);
    display: flex;
    align-items: flex-end;
    // .header__container
    &__container {
        width: 100%;
        display: flex;
        align-items: center;
        @include adaptiveValue(column-gap, 125, 20, 0, $maxWidthContainer, 320);
        @media (max-width: toEm(600)) {
            justify-content: space-between;
        }
    }

    // .header__logo
    &__logo {
        flex: 0 0 toRem(79);
        img {
            width: 100%;
        }
    }

    // .header__menu
    &__menu {
    }
}
.menu-header {
    // .menu-header__list
    &__list {
        @media (max-width: toEm(600)) {
            display: none;
        }
        display: flex;
        column-gap: toRem(40);
    }

    // .menu-header__item
    &__item {
    }

    // .menu-header__link
    &__link {
        color: $linkColor;
        font-size: toRem(14);
        font-weight: 400;
        transition: color 0.3s ease;
        @media (any-hover: hover) {
            &:hover {
                color: $linkActiveColor;
            }
        }
    }
    // .menu-header__burger
    &__burger {
        // overflow: hidden;
        display: none;
        @media (max-width: toEm(600)) {
            display: block;
        }
        position: relative;
        width: toRem(30);
        height: toRem(18);
        &::before,
        &::after,
        span {
            content: "";
            width: 100%;
            height: toRem(2);
            background: #000;
            position: absolute;
            left: 0;
            border-radius: toRem(12);

            transition: 0.3s ease;
        }
        span {
            top: calc(50% - toRem(1)); // половина высоты линии
        }
        &::before {
            top: 0%;
        }
        &::after {
            bottom: 0;
        }
        &.active {
            span {
                width: 0;
            }
            &::before {
                transform: rotate(45deg);
                top: calc(50% - toRem(1));
            }
            &::after {
                transform: rotate(-45deg);
                top: calc(50% - toRem(1));
            }
        }
    }
}

.page {
    // .page__hero
    &__hero {
    }
    // .page__features
    &__features {
    }
    // .page__services
    &__services {
    }
    // .page__reviews
    &__reviews {
    }
    // .page__location
    &__location {
    }
}
.hero {
    // .hero__container
    padding-top: toRem(62);
    position: relative;
    &__container {
        display: flex;
        column-gap: toRem(35);
        padding-bottom: toRem(30);
        &::after,
        &::before {
            content: "";
            position: absolute;

            width: 100vw;
            height: 150%;
            bottom: 0;
            background: $primaryColor;
            box-shadow: 0 toRem(30) toRem(60) 0 rgba(71, 74, 87, 0.25);
        }
        &::before {
            left: calc(50% + toRem(80));
            transform: skewX(30deg);
            border-radius: 0 0 0 toRem(30);
            z-index: -1;
        }
        &::after {
            z-index: -2;
            left: calc(50% + toRem(220));
            transform: skewX(-30deg);
            border-radius: 0 0 0 toRem(30);
        }
    }

    // .hero__content

    &__content {
        flex-basis: 50%;
        display: flex;
        flex-direction: column;
        row-gap: toRem(30);
        align-items: flex-start;
    }

    // .hero__title

    &__title {
        color: $headingColor;
        font-size: toRem(76);
        font-weight: 800;
        line-height: 1.171; /* 89/76 */
        letter-spacing: toRem(-4);
        span {
            color: $primaryColor;
            text-decoration: underline;
        }
    }

    // .hero__text

    &__text {
        max-width: toRem(500);
        flex-shrink: 1;
        color: $textColor;
        font-weight: 400;
        line-height: 1.875; /* 30/16 */
        letter-spacing: 0;
    }

    // .hero__link

    &__link {
        color: #fff;
        line-height: 1.5625; /* 25/16 */
        font-weight: 700;
        padding: toRem(18) toRem(54);
        background: $primaryColor;
        border-radius: toRem(10);
        box-shadow: 0 toRem(30) toRem(60) 0
            rgba($color: $primaryColor, $alpha: 0.25);
        transition: 0.3s ease;

        @media (any-hover: hover) {
            &:hover {
                background-color: $headingColor;
            }
        }
    }

    // .hero__images

    &__images {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: toRem(25);
    }

    // .hero__image

    &__image {
        // hero__image--1
        img {
            border-radius: toRem(10);
            box-shadow: 0 toRem(15) toRem(30) 0
                rgba($color: #000000, $alpha: 0.25);
        }
        &--1 {
            grid-row: span 2;
            align-content: flex-end;
            padding-bottom: toRem(10);
            img {
                aspect-ratio: 209/302;
            }
        }
        // hero__image--2
        &--2 {
            img {
                aspect-ratio: 143 / 214;
            }
        }
        // hero__image--3
        &--3 {
            align-self: center;
            justify-self: flex-end;
            padding-bottom: toRem(20);
            grid-row: span 2;
            img {
                aspect-ratio: 150 / 228;
            }
        }
        // hero__image--4
        &--4 {
            align-self: flex-end;
            justify-self: flex-end;
            img {
                aspect-ratio: 108 / 163;
            }
        }
    }
}
.features {
    padding-top: toRem(170);
    padding-bottom: toRem(100);
    // .features__container

    &__container {
        & > *:not(:last-child) {
            margin-bottom: toRem(90);
        }
    }

    // .features__heading

    &__heading {
    }

    // .features__items

    &__items {
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: toRem(20);
    }

    // .features__item

    &__item {
        flex-basis: toRem(270);
    }
}
.item-features {
    // .item-features__icon
    display: flex;
    flex-direction: column;
    row-gap: toRem(25);
    align-items: center;
    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        background: $primaryColor;
        padding: toRem(28);
        border-radius: toRem(26);
        box-shadow: 0 toRem(30) toRem(60) 0 rgba(71, 74, 87, 0.25);
    }

    // .item-features__title

    &__title {
        font-size: toRem(24);
        font-weight: 700;
        color: #000;
    }

    // .item-features__text

    &__text {
        text-align: center;
        color: $textColor;
        line-height: 1.875; /* 30/16 */
    }
}
.services {
    padding-top: toRem(100);
    padding-bottom: toRem(100);
    // .services__container
    &__container {
        & > *:not(:last-child) {
            margin-bottom: toRem(90);
        }
    }

    // .services__heading
    &__heading {
    }

    // .services__items
    &__items {
        display: flex;
        flex-direction: column;
        row-gap: toRem(140);
    }

    // .services__item
    &__item {
    }
}
.item-services {
    display: flex;
    justify-content: space-between;
    column-gap: toRem(50);
    &:nth-child(2n) {
        flex-direction: row-reverse;
    }
    // .item-services__image
    &__image {
        flex: 0 0 50%;
        box-shadow: 0 toRem(30) toRem(60) 0 rgba(71, 74, 87, 0.25);
        border-radius: toRem(10);
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            aspect-ratio: 600 / 399;
        }
    }

    // .item-services__content

    &__content {
        flex-basis: toRem(411);
        display: flex;
        flex-direction: column;
        row-gap: toRem(40);
    }

    // .item-services__title

    &__title {
        color: $titleColor;
        font-size: toRem(32);
        letter-spacing: toRem(1);
        span {
            color: $primaryColor;
        }
    }

    // .item-services__text

    &__text {
        color: $textColor;
        line-height: 1.875; /* 30/16 */
        & > *:not(:last-child) {
            margin-bottom: toRem(15);
        }
    }
}
.reviews {
    padding-top: toRem(100);
    padding-bottom: toRem(100);
    &__container {
        & > *:not(:last-child) {
            margin-bottom: toRem(90);
        }
    }
    // .reviews__container
    &__container {
    }

    // .reviews__heading

    &__heading {
    }

    // .reviews__items

    &__items {
        display: flex;
        align-items: center;
        justify-content: space-between;
        columns: toRem(20);
    }

    // .reviews__item

    &__item {
    }
}
.item-reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: toRem(20);
    padding: toRem(40) toRem(58);
    box-shadow: 0 toRem(2.767) toRem(2.213) 0 rgba(0, 0, 0, 0.02),
        0 toRem(6.65) toRem(5.32) 0 rgba(0, 0, 0, 0.03),
        0 toRem(12.52) toRem(10.0172) 0 rgba(0, 0, 0, 0.04),
        0 toRem(22.33) toRem(17.86) 0 rgba(0, 0, 0, 0.04),
        0 toRem(41.77) toRem(33.422) 0 rgba(0, 0, 0, 0.05),
        0 toRem(100) toRem(80) 0 rgba(0, 0, 0, 0.07);
    border-top: toRem(1) solid #dedede;
    // .item-reviews__image
    &__image {
        width: toRem(149);
        height: toRem(149);
        flex-shrink: 0;
        border-radius: 50%;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            aspect-ratio: 149 / 149;
        }
    }

    // .item-reviews__text

    &__text {
        text-align: center;
        color: $textColor;
        max-width: toRem(250);
        letter-spacing: toRem(0.2);
        line-height: 1.875; /* 30/16 */
    }

    // .item-reviews__name

    &__name {
        color: $primaryColor;
        letter-spacing: 0.2;
        line-height: 1.875; /* 30/16 */
    }

    // .item-reviews__work

    &__work {
        color: $headingColor;
        letter-spacing: 0.2;
        line-height: 1.875; /* 30/16 */
    }
}
.location {
    padding-top: toRem(100);
    padding-bottom: toRem(100);
    // .location__container
    &__container {
        & > *:not(:last-child) {
            margin-bottom: toRem(90);
        }
    }

    // .location__heading

    &__heading {
    }

    // .location__map

    &__map {
        border-radius: toRem(10);
        box-shadow: 0 toRem(30) toRem(60) 0 rgba(71, 74, 87, 0.25);
        overflow: hidden;
    }
}
.footer {
    padding-top: toRem(100);
    // .footer__top

    &__top {
    }

    // .footer__bottom

    &__bottom {
    }
}
.top-footer {
    padding-bottom: toRem(100);
    // .top-footer__container

    &__container {
        display: flex;
        // align-items: center;
        justify-content: center;
        column-gap: toRem(100);
    }

    // .top-footer__column

    &__column {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        row-gap: toRem(20);
    }

    // .top-footer__title

    &__title {
        font-size: toRem(24);
        font-weight: 700;
        color: $titleColor;
        text-transform: capitalize;
    }

    // .top-footer__logo

    &__logo {
        width: toRem(248);
        flex-shrink: 0;
    }

    // .top-footer__list

    &__list {
        padding-bottom: toRem(15);
        display: flex;
        align-items: center;
        column-gap: toRem(15);
    }

    // .top-footer__item

    &__item {
    }

    // .top-footer__link

    &__link {
        width: toRem(40);
        height: toRem(40);
        img {
            width: 100%;
        }
    }

    // .top-footer__text

    &__text {
        justify-self: flex-end;
        color: $titleColor;
        font-size: toRem(20);
        padding-bottom: toRem(25);
    }
}
.bottom-footer {
    // .bottom-footer__container
    background: $primaryColor;
    &__container {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: toRem(50);
        padding-bottom: toRem(50);
    }

    // .bottom-footer__copyright

    &__copyright {
        color: #fff;
        font-size: toRem(14);
        font-weight: 700;
    }
}
